.responsive-grid .box {
  font-size: 2rem;
  padding: 1rem;
  display: grid;
  place-items: center;
  border-radius: 1rem;
}

.responsive-grid {
  border: 4px dashed var(--blue);
  padding: 1rem;
}

.pink {
  background: var(--magenta);
}

.blue {
  background: var(--blue-bg);
}

.purple {
  background: var(--lavender-bg);
}

.green {
  background: var(--green-bg);
}

.tooltip-demo {
  border: 1px solid;
  width: 500px;
}

.tooltip-demo button {
  background: #ddd;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: monospace;
  border-radius: 1.75rem;
  height: 1.75rem;
  width: 1.75rem;
  display: grid;
  place-content: center;
  border: 2px solid black;
}

.tooltip-demo .tooltip {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: #333;
  color: white;
  font-weight: 400;
  padding: 1rem;
  width: 300px;
  line-height: 1.5;
}

.tooltip-demo {
  display: grid;
  grid-template-rows: 90% 1fr;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 90%;
  margin: 2rem auto;
  position: relative;
}

.non-popover {
  position: absolute;
  position-fallback: --top-then-bottom;
  translate: -50% 0;
}

.qq-demo {
  font-size: 1.2rem;
  display: grid;
  place-content: center;
}

.qq-demo ul {
  color: black;
  list-style: none;
  border: 1px solid var(--code-border);
  background-color: var(--lavender);
  padding: 2rem;
  width: 500px;
  margin: 0 auto 4rem;
}

.login-form-container {
  text-align: left;
  max-width: 400px;
  background: var(--blue);
  color: black;
  padding: 1rem;
  margin: 0 auto;
}

.login-form label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: -0.5rem;
}

.login-form input {
  font-size: 1.5rem;
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.login-form button {
  width: 100%;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0.5rem;
  background: midnightblue;
  color: white;
  border: none;
}

.error-msg {
  font-size: 1.5rem;
  color: firebrick;
  margin-top: 0.5rem;
}

.callout-link {
  text-decoration: underline;
  font-size: 4.5rem;
}

/* selectlist */

.selectlist-demo {
  width: 600px;
  height: 600px;
  border: 1px solid lightgray;
  container-type: inline-size;
  display: -webkit-box;
}

.selectlist-demo .option-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 0.5rem;
}

.selectlist-demo listbox {
  padding: 1rem;
  border-radius: 2rem;
  border-width: 0;
  margin-top: 0.5rem;
  width: 100cqi;
  max-width: 500px;
}

.selectlist-demo selectedoption {
  & img {
    display: none;
  }
}

.selectlist-demo option {
  display: grid;

  &:hover {
    background: none;

    & img {
      border-color: dimgray;
      cursor: pointer;
    }
  }

  &[hidden] {
    display: none;
  }
}

.selectlist-demo img {
  width: 100%;
  max-width: 120px;
  border-radius: 1rem;
  border: 1px solid lightgray;
  margin-bottom: 0.25rem;
  object-fit: cover;
}

.selectlist-demo .header {
  font-weight: 700;
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  text-align: left;
}

/* Button */
.selectlist-demo button {
  text-align: left;
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 300px;
  background: #eee;
  border-width: 0;
  transition-duration: 0.25s;
  background-color: white;

  &:hover {
    background-color: #ddd;
  }
}

.selectlist-demo selectlist:has(:popover-open) {
  & button {
    background-color: white;
    box-shadow: 0 0 20px lightgray;
  }
}

.selectlist-demo .label {
  font-weight: 700;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.selectlist-demo span {
  font-size: 0.9rem;
}


@container (width <= 500px) {
  .selectlist-demo .option-container {
    width: 100cqi;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
  }
  
  .selectlist-demo option {
    width: 120px;
  }
}